@import "tailwindcss";

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --text-tiny: 0.625rem;
}

html,
body {
    @apply bg-white dark:bg-gray-50;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

/* Add this to your global CSS or component styles */
@media print {
    .no-print {
        display: none !important;
    }
}
